/* search bar */

.searchbar {
  width: auto;
  margin-left: 1.5rem;

  input {
    width: 12rem;
    height: 2rem;
    outline: none;
    padding-left: 5px;
  }
}

.search-x-button {
  width: 2rem;
  height: 2rem;
  background-color: inherit;
  color: var(--primary-text-color);
  border: none;
}

@media (max-width: 767px) {
  .searchbar {
    margin-left: 0.5rem;
  }
}
