/* devlog */

.devlog-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.devlog-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.devlog-item {
  margin: 1rem;
  padding: 0.5rem 0 2rem 0.5rem;
  border-bottom: 2px dashed var(--gray);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.devlog-date {
  font-size: var(--text-xxs);
  color: var(--secondary-text-color);
}

.project-title {
  font-weight: 300;
}

.devlog-link {
  font-size: var(--text-xs);
}

.devlog-link {
  color: var(--secondary-text-color);

  &:hover,
  &:visited {
    color: var(--accent-color);
  }
}

.project-desc {
  color: var(--secondary-text-color);
  font-size: var(--text-sm);
}

.tech {
  color: var(--brand-color);
  font-size: var(--text-sm);
}

.new {
  font-size: var(--text-xs);
  margin-left: 0.5rem;
  padding: 0 3px;
  color: #000;
  background-color: #c2fca7;
  font-weight: 500;
}

.devlog-left {
  padding: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (max-width: 767px) {
  .devlog-item {
    margin: 1.5rem 0;
  }

  .devlog-container {
    grid-template-columns: 1fr;
  }

  .project-title {
    font-size: var(--text-sm);
    font-weight: 400;
  }

  .devlog-right {
    display: none;
  }
}
