/* home */

.home-intro {
  padding: 10rem 4rem;

  h1 {
    font-weight: 400;
    font-size: var(--text-xxl);

    color: var(--secondary-text-color);
  }

  span {
    color: var(--primary-text-color);
  }
}

.typewriter {
  overflow: hidden;
  border-right: 0.1em solid var(--secondary-text-color);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(30, end) forwards;
}

.typewriter::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 1.2em;
  animation: none;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
  100% {
    border-right-color: transparent;
  }
}

.skills-container {
  padding: 3rem 2rem;
  border: 1px solid var(--gray);
}

.skills-list {
  width: 100vw;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;

  li {
    width: auto;
    height: auto;
    border-radius: 30px;
    color: var(--primary-text-color);
    background-color: inherit;
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: var(--text-xs);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    font-size: var(--text-sm);
  }
}

#featured-work {
  padding: 3rem 0;
  width: 100%;
}

.featured-projects {
  padding: 1rem 0 5rem;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    li {
      width: 100%;
      height: auto;
      background-color: var(--gray-dark);
      padding: 0.5rem 0.5rem 2rem 0.5rem;
      border-radius: var(--border-radius-md);
      border: 1px solid var(--gray-dark);
      transition: 0.2s ease;

      &:hover {
        // background-color: var(--gray);
        border: 1px solid var(--primary-text-color);
      }
    }
  }
}

.featured-project-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.85;
    border-radius: 5px;

    &:hover {
      opacity: 1;
    }
  }
}

.featured-project-title {
  text-align: center;
  font-size: var(--text-sm);
  margin-top: 0.5rem;
}

.featured-button-container {
  display: flex;
  justify-content: center;
}

.button-more {
  padding: 1rem 2rem;
  color: inherit;
  background-color: var(--brand-color-dark);
  border: 1px solid var(--brand-color-dark);
  border-radius: var(--border-radius-md);
  font-weight: 500;
  font-size: var(--text-sm);

  &:hover {
    color: var(--brand-color-dark);
    background-color: inherit;
  }
}

.home-bottom {
  width: calc(100vw - 4rem);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  gap: 1rem;

  .home-devlog,
  .home-lab {
    width: 100%;
    height: auto;
    border: none;
    border-radius: var(--border-radius-md);
    background-color: var(--gray-dark);
    font-size: var(--text-md);
    padding: 15% 0 20%;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    button {
      color: var(--primary-text-color);
      width: 100%;
      background-color: inherit;
      border: none;
      font-weight: 500;
      font-size: var(--text-md);
      padding: 0.5rem;

      &:hover {
        text-decoration: underline;
        color: var(--brand-color-dark);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (max-width: 767px) {
  .home-intro {
    padding: 10rem 2rem;
  }

  .home-intro h1 {
    font-size: var(--text-xxl);
    line-height: 1.2;
  }

  .skills-list {
    gap: 0.5rem;
    padding: 0.3rem;

    li {
      font-size: var(--text-xs);
    }
  }

  /* home - work mobile */

  .featured-projects ul {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .featured-project-image-container {
    margin-bottom: 0.5rem;
  }

  .button-more {
    width: 100%;
  }

  .home-bottom {
    width: calc(100vw - 2rem);

    button {
      font-size: var(--text-sm);
      padding: 0 5%;
    }
  }
}
